<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>swix_ios_app.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D259E24D1BA53D5B0096A116</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D259E2611BA53D5B0096A116</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D259E26C1BA53D5B0096A116</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
